[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[user]
	email = binota@binota.org
	name = BinotaLIU
[core]
	autocrlf = input
	fileMode = false
	editor = vim
	excludesfile = /Users/binota/.dotfiles/.gitglobalignore
[init]
	defaultBranch = main
[gpg]
	program = /usr/local/bin/gpg
[alias]
  com = commit
  swi = switch
  swc = switch -c
  mer = merge --no-ff
  pus = push
  pul = pull
  fet = fetch
  fix = commit --fixup
  emptycom = commit --allow-empty
  ; sync = !/usr/local/bin/legit sync
  ; publish = !/usr/local/bin/legit publish
  ; unpublish = !/usr/local/bin/legit unpublish
  ; undo = !/usr/local/bin/legit undo
  ; branches = !/usr/local/bin/legit branches

[includeIf "gitdir:~/Developer/ttwns/"]
  path = ~/Developer/ttwns/.gitconfig
[includeIf "gitdir:~/Developer/rooster/"]
  path = ~/Developer/rooster/.gitconfig

[http]
	postBuffer = 1048576000
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[safe]
	bareRepository = explicit

