[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[user]
	email = binota@binota.org
	name = BinotaLIU
[alias]
	switch = !legit switch
	sync = !legit sync
	publish = !legit publish
	unpublish = !legit unpublish
	undo = !legit undo
	branches = !legit branches
[core]
	autocrlf = input
	fileMode = false
